name: CD

on:
  push:
    branches:
      - main
      - releases/**
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-prettify:
    name: Check prettify
    uses: ./.github/workflows/check-prettify.yml

  run-ci:
    needs:
      - check-prettify
    name: Run CI Workflow
    uses: ./.github/workflows/ci.yml

  publish_generic_docker_image_to_acr:
    needs:
      - check-prettify
      - run-ci
    name: Publish Generic Docker image to ACR
    permissions:
      id-token: write
      contents: read
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-build-and-publish-docker-image.yml@shared-build-and-publish-docker-image-v6
    with:
      docker_image_name: jore4-generic-hasura
      build_arm64_image: true
      target: hasura-generic
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  publish_hsl_docker_image_to_acr:
    needs:
      - check-prettify
      - run-ci
    name: Publish HSL Docker image to ACR
    permissions:
      id-token: write
      contents: read
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-build-and-publish-docker-image.yml@shared-build-and-publish-docker-image-v6
    with:
      docker_image_name: jore4-hsl-hasura
      build_arm64_image: true
      target: hasura-hsl
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  publish_schema_reloader_image_to_acr:
    needs:
      - check-prettify
    name: Publish Schema Reloader Docker image to ACR
    permissions:
      id-token: write
      contents: read
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-build-and-publish-docker-image.yml@shared-build-and-publish-docker-image-v6
    with:
      docker_image_name: jore4-hsl-hasura-schema-reloader
      build_arm64_image: false
      context: ${{ github.server_url }}/${{ github.repository }}.git#${{ github.ref }}:./schema_reloader
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  run_dump_tests:
    needs:
      - check-prettify
      - run-ci
      - publish_generic_docker_image_to_acr
    uses: ./.github/workflows/check-dump.yml
    with:
      docker_image: '${{ needs.publish_generic_docker_image_to_acr.outputs.docker_image }}'

  run_migration_tests:
    needs:
      - check-prettify
      - run-ci
      - publish_generic_docker_image_to_acr
      - publish_hsl_docker_image_to_acr
    name: Run migration tests
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        dockerImage:
          - '${{ needs.publish_generic_docker_image_to_acr.outputs.docker_image }}'
          - '${{ needs.publish_hsl_docker_image_to_acr.outputs.docker_image }}'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: start e2e env
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v10
        with:
          hasura_version: '${{ matrix.dockerImage }}'

      # Running the all migrations down and up to make sure that they all work as intended
      - name: Run migration tests for both network and timetables databases
        run: ./scripts/test-migrations.sh

  run_integration_tests:
    needs:
      - check-prettify
      - run-ci
      - publish_generic_docker_image_to_acr
      - publish_hsl_docker_image_to_acr
    name: Run hasura integration tests
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        include:
          - dockerImage: '${{ needs.publish_generic_docker_image_to_acr.outputs.docker_image }}'
            testCommand: 'yarn qa' # includes linter, prettier and ts:check as well
          - dockerImage: '${{ needs.publish_hsl_docker_image_to_acr.outputs.docker_image }}'
            testCommand: 'yarn test-hsl' # only runs the tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: start e2e env
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v10
        with:
          hasura_version: '${{ matrix.dockerImage }}'

      - name: Use Node.js version 24.x
        uses: actions/setup-node@v6
        with:
          node-version: '24.11.1' # As of writing, this is the upcoming LTS version
          cache: 'yarn'
          cache-dependency-path: 'test/hasura/yarn.lock'

      - name: Run integration tests
        run: |
          cd test/hasura
          yarn --frozen-lockfile
          ${{ matrix.testCommand }}

  run_e2e_tests:
    name: Run E2E tests
    needs:
      - check-prettify
      - run-ci
      - publish_hsl_docker_image_to_acr
      - run_dump_tests
      - run_migration_tests
      - run_integration_tests
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-run-e2e.yml@main
    with:
      hasura_version: "${{ needs.publish_hsl_docker_image_to_acr.outputs.docker_image }}"
