on:
  # this workflow is only called by others, won't be executed on itself
  # as it uses the pre-built docker image that is produced in the upstream job
  workflow_call:
    inputs:
      docker_image:
        type: string
        required: true

permissions:
  contents: read

jobs:
  check_dumps:
    name: Check if the generated dumps are up to date
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: start e2e env
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v10
        with:
          hasura_version: '${{ inputs.docker_image }}'

      - name: Generate database dumps
        run: ./scripts/generate-dumps.sh

      - name: Verify that generate dump command made no changes
        run: 'if [ -n "$(git status --porcelain)" ]; then git diff; exit 1; fi'

      - name: Remove the hasura container
        run: docker rm --force hasura && docker volume prune --force

      - name: Restart the hasura container to rerun the repeatable migrations
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v10
        with:
          hasura_version: '${{ inputs.docker_image }}'

      - name: Generate database dumps again, this time after the repeatable migrations
        run: ./scripts/generate-dumps.sh

      - name: Verify that generate dump command still made no changes
        run: 'if [ -n "$(git status --porcelain)" ]; then git diff; exit 1; fi'
