name: Run integration and unit tests

on:
  # this workflow is only called by others, won't be executed on itself
  workflow_call:
  workflow_dispatch:

jobs:
  run_tests:
    name: Run docker image tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run tests
        run: |
          ./test/docker-image/string-interpolation/test.sh

  schema_reloader_tests:
    name: Run Schema Reloader Tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Setup Development Environment
        run: ./schema_reloader/development.sh create-dev-env

      - name: Run Linters
        run: ./schema_reloader/development.sh lint

      - name: Run Tests
        run: ./schema_reloader/development.sh test
