name: Run integration and unit tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  run_tests:
    name: Run docker image tests
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run tests
        run: |
          ./test/docker-image/string-interpolation/test.sh

  run_integration_tests:
    name: Run hasura tests
    runs-on: ubuntu-20.04
    env:
      GH_TOKEN: ${{ github.token }} # used by the "gh" tool to bypass interactive authentication

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up dependencies
        run: |
          ./scripts/start_dependencies.sh -d

      - name: Verify that hasura is up and running
        uses: HSLdevcom/jore4-tools/github-actions/healthcheck@healthcheck-v1
        with:
          command: 'curl --fail http://localhost:3201/healthz --output /dev/null --silent'

      - name: Run tests (including linter, prettier, ts:check)
        run: |
          cd test/hasura
          yarn --frozen-lockfile
          yarn qa
